/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: Helvetica, Arial, sans-serif;
}
/*1.Từ ngoài vào trong
  2.Từ trên xuống dưới 
  3.Tổng quan đến chi tiết
*/
/* 
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng */

.clear{
  clear: both;
}
.text-white{
  color: #fff !important;
}
.text-center{
  text-align: center !important;
}
.pull-right{
  float: right;
}
.row{
  margin-left: -8px;
  margin-right: -8px;
}
.column{
  float: left;
  padding: 0 8px;
}
.column-three{
  width: 33.333333%;
}
.column-two{
  width: 50%;
}
.column-one{
  width: 100%;
}
.mt-8{
  margin-top: 8px;
}
.mt-16{
  margin-top: 16px;
}
.btn{
  display: inline-block;
  padding: 10px 16px;
  color: #fff;
  background-color: #000;
  border: none;
}
.btn:hover{
  cursor: pointer;
  color: #000;
  background-color: #ccc; 
}
.row::after{
  content:"";
  display: block;
  clear: both;
}

#main {
    
}

/* --Header-- */
#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav>li{
  display: inline-block;
  position: relative;
}
#nav>li>a{
  color: #fff;
  padding: 0 24px; 
  line-height: 46.5px;
  text-transform: uppercase;
}
#nav li a{
  display: block;
  text-decoration: none;
}
#nav>li:hover >a,#nav .subnav li:hover{ 
  color: black;
  background-color: #ccc;
}
#nav .subnav {
  display: none;
  position: absolute;
  top:100%;
  left: 0;;
  min-width: 160px;
  background-color: #fff;
  list-style-type: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
#nav li:hover .subnav{
  display: block;
}
.subnav li a{
  color:#000;
  padding: 0 16px;
  line-height: 38px;
}
#nav .nav-down-btn{
  font-size: 12px;
}
#header .nav-search-btn{
  position: absolute;
  top: 0;
  right: 0;
  color:#fff;
  line-height: 46.5px;
  padding: 0 24px;
}
#header .nav-search-btn:hover{
  background-color: #f44336;
  cursor: pointer;
}

/* --Slider-- */
#slider {
  margin-top: 46.5px;
  padding-top: 50%;
  background: url('../image/map/map.jpg') top center / cover;
  position: relative;
}
#slider .content{
  color: rgb(255, 9, 9);
  position: absolute; 
  bottom: 16px;
  width: 100%;
  text-align: center;
}
#slider .heading{
  margin-bottom: 25px;
}

/*--Content-about-- */
#content .section{
  width: 800px;
  max-width: 100%;
  padding: 64px  112px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
#content .head-section{
  margin: 10px 0 ;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 4px;
}
#content .sub-head-section{
  margin: 15px 0;
  text-align: center;
  line-height: 22.5px;
  font-size: 15px;
  font-style: italic;
  opacity: 0.6;
}
#content .about{
  line-height: 1.4;
  text-align: justify;
  font-size: 16px;
}
#content .member-list{
  margin-top: 47px;
}
#content.member-name{
  font-size: 15px;
}
#content .member-img{
  margin-top: 15px;
  width: 204px;
}

/*--Content-tour --*/
.tour-section{
  background-color: #000;
}
.time-ticket{
  background-color: #fff;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
.time-ticket li{
  font-size: 15px;
  color: #757575;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}
.time-ticket .sold-out{
  display: inline-block;
  padding: 3px 8px;
  margin-left: 16px;
  color:#fff;
  background-color: #f44336;
}
.time-ticket .not-sold-out{
  float: right;
  padding: 3px 8px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  margin-top: -3.2px;
}

/* --Place ticket-- */
.place-list{
  margin-top: 32px;
}
.place-img{
  width: 100%;
  display: block;
}
.place-img:hover{
  opacity: 0.6;
}
.place-body{
  padding: 16px;
  background-color: #fff;
  font-size: 15px;
}
.place-heading{
  font-size: 15px;
  
}
.place-date{
  padding-top: 15px;
  color: #757575;
}
.place-text{
  padding: 15px 0;
  line-height: 1.4;
}

/* --Modal buy ticket--*/
.modal-buy-ticket{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal-buy-ticket.open{
  display: flex;
}
.modal-window{
  width: 900px;
  max-width: calc(100% - 36px);
  min-height: 200px;
  background-color: #fff;
  position: relative;
  animation: modalFadeIn ease 0.4s;
}
.ti-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  color: #ddd;
}
.ti-close:hover{
  color:#000;
  cursor: pointer;
  background-color: #fe665b;
}
.modal-header {
  font-size: 30px;
  padding: 40px 16px;
  color: #fff;
  background-color: #009688;
  text-align: center;
  letter-spacing: 6px;
}
.modal-body {
  padding: 0 16px;
  line-height: 1.5;
}
.modal-label {
  display: block;
  font-size: 15px;
  padding: 20px 0 12px;
}
.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 8px;
}
.modal-pay {
  margin: 16px 0;
  padding: 16px;
  width: 100%;
  font-size: 15px;
  border: none;
  color: #fff;
  background-color: #009688;
}
.modal-pay:hover{
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}
.modal-footer {
  text-align: right;
  padding: 16px;
}
.modal-help{
  color: #2196f3;
}
.gift-window{
  width: 450px;
  max-width: calc(100% - 36px);
  min-height: 200px;
  background-color: #fff;
  position: relative;
  animation: modalFadeIn ease 0.4s;
}
.gift-img img{
  width: 16%;
  display: block;
  margin: 0 auto 10px;
}
.gift-header {
  font-size: 30px;
  padding: 20px 16px;
  color: #fff;
  background-color: #f95252;
  text-align: center;
  letter-spacing: 6px;
}
.gift-content {
  text-align: center;
  font-size: 21px;
}
.gift-content .ti-gift{
  color: red;
}
.gift-nhan-qua{
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: rgb(255 34 34 / 70%);
  text-align: center;
  width: 46%;
  margin: 24px auto;
  line-height: 26px;
  font-size: 19px;
  padding: 8px;
}
.gift-nhan-qua:hover{
  background-color: #ddd;
  color: #000;
}
@keyframes modalFadeIn{
  from{
    transform: translateY(-140px) ;
    opacity: 0.7;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

/* --Contact-- */
.contact{
  margin-top: 48px;
}

.contact-info{
  font-size: 18px;
  line-height: 1.5;
}
.contact-info i{
  display: inline-block;
  width:30px;
}
.contact-form {
  font-size: 15px;
}
.contact-form .input{
  padding: 8px;
  border: 1px solid #ccc;
  width: 100%;
}
.contact-form .btn-send{
  float: right;
  padding: 10px 16px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}
.contact-form .btn-send:hover{
  color: #000;
  background-color: #ccc;
}
.img-map img{
  width: 100%;
}

/* --Footer-- */
#footer {
  padding: 64px 0;
  text-align: center;
}
#footer .social-list a{
  font-size: 24px;
  color:rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
#footer .social-list a:hover{
  color:rgba(0, 0, 0, 0.3);
}
#footer .copyright{
  padding-top: 24px;
  font-size: 16px;
  color:rgba(0, 0, 0, 0.6);
}
#footer .source{
  color:rgba(0, 0, 0, 0.6);
}